<%= render 'home/header' %>

<div class = "contents">
  <% @matter.each do |matter| %>

    <div class = content></div>

    <div class = "content_main">
      
      <a class = "matter__title"><%= matter.name %></a>
      <a class = "matter__price">￥<%= matter.price %>/月</a>
      <a class = "matter"><%= matter.category_id %></a>
      <a class = "matter">必要スキル：<%= matter.skill %></a>
      <a class = "matter">提出期限日：<%= matter.filingday %></a>

      
      <a class = "description"><%= matter.description %></a>
    </div>
  <% end %>
</div>